.pLogin {
    margin: 0;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
}

h1 {
    color: aqua;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0 15px;
}

.colorDireccion {
    color: antiquewhite;
}

.colorFooter{
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

footer a:hover {
    text-decoration: none;
    color: aqua;
}

.degradeFooter {
    background-image:linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgb(9, 76, 114) );
}

.precio {
    font-weight: bold;
    color: red;
    margin: 0px;
}

.tituloArticulos {
    color:black;
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
}

.iconosRedesSociales {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 10px; 
}